.navbar
{
	background-color: #128C7E !important;


}


.mainfontcolor
{
	color: white !important;
}

.icon
{
	width: 20px;
	height: 20px;
	color: white !important;
}

.chat
{
	background-color: #ECE5DD;
}